* {
    padding: 0;
    margin: 0;
}
body {
    background-color:  #000000;
    font-family: "Anton SC", sans-serif;
    color: #e2e2e2;
    line-height: 1.6;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #000000;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px;
    transition: color 0.3s ease;
}

header a:hover {
    color: #248cfc;
}

.logo img {
    max-width: 150px; 
    height: auto;
}



nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}

.intro img {
    overflow: hidden;
        position: relative;
        width: 100%;
        height: 100%;
        
}

.intro h1 {
    position: absolute;
    color: #f0f0f0;
    top: 50%;
    left: 50%;
    width: 60%;
    transform: translate(-50%, -50%);
    font-family: arial;
    font-size: 64px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
}



section#galaxy, section#camera, section#video {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

    
    .descricao, .cameras24 {
        display: flex;
        align-items: center;
        max-width: 800px;
        margin: 20px;
    }
    
    .descricao img, .cameras24 img {
        margin-right: 20px;
        max-width: 300px;
        height: auto;
    }
    
    .texto {
        display: flex;
        font-size: 15px;
        flex-direction: column;
        justify-content: center;
    }
    
    .titulo1 {
        font-size: 32px;
        margin-bottom: 10px;
        color: #248cfc;
    }
    
    .paragrafos {
        margin-top: 10px;
    }

    .cameras24 img {
        max-width: 400px; 
        height: auto;
    }

    .video-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

   
    .samsung-link {
    margin-top: 20px;
}

.samsung-link a {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #248cfc;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.samsung-link a:hover {
    background-color: #1a6dbd;
}


    hr {
        width: 80%; 
        height: 1px; 
        background-color: #248cfc; 
        border: none; 
        margin: 20px auto; 
    }
    
    
footer {
    font-family: Verdana;
    font-style: oblique;
    text-align: center;
    padding: 15px 0;
    background-color: #161616;
    color: #fff;
    position: bottom;
    bottom: 0;
    left: 0;
    width: 100%;
}


section#specs {
    font-size: 32px;
    margin-bottom: 10px;
    color: #fff;
    text-align: center;
   
}


@media (max-width: 970px) {
    header {
        height: auto;
    }

    .logo img {
        max-width: 120px;
    }

    nav ul li {
        margin: 0 10px;
    }

    .intro h1 {
        font-size: 40px;
        width: 80%;
    }

    .descricao, .cameras24 {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .descricao img, .cameras24 img {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .titulo1 {
        font-size: 28px;
    }

    .paragrafos {
        font-size: 14px;
    }

    .cameras24 img {
        max-width: 100%;
    }
}
